body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
  color: #444; 
  background: #FFF7ED url('../images/pattern8b.png'); 
  margin: 0; padding: 0;
  line-height: 140%;
}
h1 {color: #7B481B; font-size: 3em; line-height: 1em; margin-bottom: 5px; text-shadow: 1px 1px 0 #fff, 2px 2px 0 #eee}
h2 {margin-top: 2em}
h2, h3, h4, h5 {color: #74B330; text-shadow: 1px 1px 0 #fff, 2px 2px 0 #eee}

a:link, a:visited {color: #1F80B5; text-decoration: none; border-bottom: solid 1px #444}
a:visited {color: #7BA1B5;}
a:hover {background: #eee}

#page-title a {color: inherit; border: none}
#page-title a:hover {background: none}
#page-title em {font-size: .5em;}

.ribbon img {
  position: absolute; top: 0; right: 0;
  border: 0;
  z-index: +1;
}

#github-path {
  position: absolute; 
  top: 1em; right: 3em;
  font-size: 1.5em;
  font-style: normal;
}
#github-path span {color: inherit; border: none; font-weight: bold}
  
#header {
  margin-bottom: 1em;
  background: url('../images/Octocat.png') top right no-repeat;
  padding-right: 100px;
}

#intro {
  background: url('../images/cup_coffee.png') 650px top no-repeat;
  border-top: solid 1px #F5EFD3;
  padding-left: .5em;
  position: relative;
}

#rules {display: inline-block; background: #F5EFD3}

.claim {display: block; color: #666; padding-left: .5em}
.list-title {clear: left;}

#content {
  position: relative;
  padding: 1.5em 3em; margin: 2em; 
  background: rgba(255,255,255,.95); 
  border-radius: 5px;
  box-shadow: 
    0 0 40px rgba(227,202,100,.7) inset,
    0 0 0 1px #74B330,
    0 0 0 4px rgba(242,238,220,.95),
    0 0 20px rgba(0,0,0,.95);
}

#list-link {
  position: absolute;
  display: block;
  width: 4em;
  height: 2em;
  bottom: -4em; left: -400px;
}

#list-link::after {
  content: "\2701";
  font-size: 3em;
  display: block;
  position: absolute;
  bottom: 0; right: -305px;
  color: #444;
}
#list {position: relative; padding: 0 3em 4em; border-top: dashed 5px #F5EFD3; margin: 4em -3em 0;}
#list h3 {margin-top: 1.5em; padding-top: 1em; border-top: solid 1px #F5EFD3}

#html5 {
  width: 64px; height: 64px; 
  text-indent: -999px; overflow: hidden; 
  background: url('../images/html5.png') right top no-repeat;
  position: absolute;
  bottom: 0; right: 5px;
}

#humans {
  width: 88px; height: 31px; 
  background: url('../images/humanstxt.gif') right top no-repeat;
  position: absolute;
  bottom: 10px; right: 75px;
}

#humans a {
  width: 100%; height: 100%;
  display: block;
  text-indent: -999px; overflow: hidden; 
  border: none;
}

#humans a:hover {background: none}

