<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Work From Cafe - {{ page.title }}</title>
    <link href="http://fonts.googleapis.com/css?family=Puritan:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body>
    <div id="main">
      <div id="content" class="site">
        {{ content }}
      </div>
    </div>
  </body>
</html>

